<mgheader title="Vehicle Check"></mgheader>

<div class="vehicle-check content-header-only grey-background">

  <div class="action">

    <div class="top">
      <img ng-src="images/truck-grey.png"/>

      <div class="message darkgrey tg">VEHICLE CHECK COMPLETE?</div>

    </div>

    <div class="bottom">

      <div class="buttons">
        <a href="#/VehicleCheckFail" class="red btn no">NO</a>
        <a href="#/WorkOrderList" class="btn green yes">YES</a>
      </div>

    </div>
  </div>

</div>


