<mgheader title="Work Gang Members"></mgheader>


<div class="content grey-background">
<div id="wrapper">
<div id="scroller">

  <div class="work-gang-wrapper">
    <div class="work-gang-row">
      <div class="work-gang-member-icon"></div>
      <div class="work-gang-member-name osb">John Smith</div>
    </div>

    <div class="work-gang-row">
      <div class="work-gang-member-icon"></div>
      <div class="work-gang-member-name osb">Joe Bloggs</div>
    </div>
  </div>

</div>
</div>
</div>


<div class="footer">

  <div class="left">
    <a href="#/WorkOrderList">
        <div class="back-icon"></div>
        <div class="back-text silver osr">WORK LIST</div>
    </a>
  </div>

  <div class="center">
    <div class="work-gang-icon-highlighted"></div>
    <div class="work-gang-text silver osr">Work Gang</div>
  </div>

</div>
